{{ ansible_managed | comment(decoration="# ") }}
{{ vhost.hostname }} {
  import ../snippets/tls.conf
  {{ 'gzip' if vhost.gzip else '' }}
  log / {{ caddy_log_path }}/{{ vhost.hostname }}.log {combined}
  proxy / {{ vhost.proxy_host }}:{{ vhost.proxy_port}} {
    {{ 'transparent' if vhost.proxy_transparent else '' }}
    {{ 'websocket' if vhost.proxy_websocket else '' }}
  }
{% if vhost.security_headers %}
  header / {
      Strict-Transport-Security "max-age=31536000;"
      X-XSS-Protection "1; mode=block"
      X-Content-Type-Options "nosniff"
      X-Frame-Options "DENY"
  }
{% endif -%}
{% if vhost.basicauth %}
  basicauth {{ vhost.basicauth_path }} {{ vhost.basicauth_user }} {{ vhost.basicauth_password }}
{% endif %}
}
